<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row pull-right">
                    <div class="col-12  ">
                        <div id="cont-addentity"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div>
                            <div class="btn-group">
                                <span class="btn btn-link" id="list" (click)="cambia2(jsonConfig)">
                                    <i class="fas fa-list"></i>                                     
                                    <!-- List View -->
                                </span>
                                <span class="btn btn-link" id="grid" (click)="cambia2(jsonConfig)">
                                    <i class="fas fa-th-large"></i> 
                                    <!-- Grid View -->
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div id="cont-MyList" class="col-12">
                </div>
            </div>
        </div>
    </div>
</div>