<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row pull-right">
                    <div class="col-12  ">
                        <div id="cont-addentity"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <br>
                        <span class="btn btn-mini btn-primary" onclick="cambia(jsonConfig)">
                            <fa-icon [icon]="listIcon"></fa-icon>
                            List
                        </span>
                        <br><br>
                    </div>
                </div>

                <div id="cont-MyList" class="col-12">
                </div>
            </div>
        </div>
    </div>
</div>