span#list {
    padding-left: 0;
    padding-right: 0;
}

i.fas.fa-list,
i.fas.fa-th-large, i.fas.fa-arrow-left {
    font-size: 1.4rem;
    color: #6c757d;
    line-height: 15px;
}

i.fas.fa-list:hover, i.fas.fa-arrow-left:hover,
i.fas.fa-th-large:hover {
    color: #5a6268;
    font-size: 1.5rem;
}


@media only screen and (max-width: 600px) {
    .list {
        padding-right: 3px;
        padding-left: 3px;
    }

    .card-body {
        padding: .25rem;
    }

    .fas.fa-list {
        display: none;
    }

    .view-btns {
        padding-left: 0;
    }
   
}

