<div class="col-12"></div>
<div class="card border-left-primary shadow h-100 py-2 mr-border">
  <div class="card-body">
    <div class="row ">
      <div class="col-sm-12">
        <div>
          <h2 class="title-metr">DEH Resource Metrics</h2>
        </div>
      </div>
    </div>
    <br />

    <div class="row pull-right">
      <div class="col-12  ">
        <div id="cont-addentity"></div>
      </div>
    </div>

    <div *ngIf="hasOwnedResources; else noOwnedDehResources" id="cont-MyList" class="col-12 list">
      <span id="d_pagination_prop"></span>

      <h3 class="title-metr">Your DEH Resources</h3>
      <div id="products" class="row view-group view-w">
        <div class="item col-lg-4 col-sm-12 col-md-4 " d-pagegroup="1" *ngFor="let ownedResource of ownedResources">
          <div class="thumbnail card">
            <div class="caption card-body">
              <h4 style="margin-bottom: 2px;" class="card-title
         group
         font-weight-bold
         inner
         list-group-item-heading
         resource-title
        " (click)="navigate(ownedResource.rrmId)">
                {{ownedResource.name}}
              </h4>
              <div class="col-12 p0 mb-2">
                <span class="pull-right"></span>
              </div>
              <p id="desc-0" class="card-text group inner list-group-item-text resourse-card">
                RRM ID : {{ownedResource.rrmId}} <br>
                No. Of Instances : {{ownedResource.numberOfInstances}} <br>
              </p>
              <hr />
              <div class="row">
                <div class="col-12">
                  <button class="btn btn-secondary btn-sm pull-right" (click)="navigate(ownedResource)">View
                    More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noOwnedDehResources>
      <div *ngIf="displayMessage" class="col-12 list">
        <h3 class="title-metr">Your DEH Resources</h3>
        <div>You have no resources which other users are consuming.</div>
      </div>

    </ng-template>


    <div *ngIf="hasConsumedResources; else noConsumedDehResources" id="cont-MyList" class="col-12 list">
      <span id="d_pagination_prop"></span>

      <h3 class="title-metr">Consumed DEH Resources</h3>
      <div id="products" class="row view-group view-w">
        <div class="item col-lg-4 col-sm-12 col-md-4 " d-pagegroup="1"
          *ngFor="let consumedResoruce of consumedResoruces">
          <div class="thumbnail card">

            <div class="caption card-body">
              <h4 style="margin-bottom: 2px;" class="card-title
         group
         font-weight-bold
         inner
         list-group-item-heading
         resource-title
        " (click)="navigateToContainer(consumedResoruce)">
                {{consumedResoruce.image}}
              </h4>
              <div class="col-12 p0 mb-2">
                <span class="pull-right"></span>
              </div>
              <p id="desc-0" class="card-text group inner list-group-item-text resourse-card">
                RRM ID : {{consumedResoruce.RRM_ID}} <br>
              </p>
              <hr />
              <div class="row">
                ​​​​​​​ <div class="col-12">
                  <button class="btn btn-secondary btn-sm pull-right"
                    (click)="navigateToContainer(consumedResoruce)">View
                    More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <ng-template #noConsumedDehResources>
      <div *ngIf="displayMessage" class="col-12 list">
        <h3 class="title-metr">Consumed DEH Resources</h3>
        <div>You aren't consuming any DEH resource.</div>
      </div>

    </ng-template>