.mr-border {
    margin: 0 2%;
}

.view-w {
    width: 100%;
}

.title-metr {
    color: #117a8b;
}

.title-metrics-resource {
    max-height: 100px;
    height: 120px;
    overflow: hidden;
}

@media only screen and (max-width: 992px) {
    .mr-border {
        margin: 0 5px;
    }

    .view-w {
        width: unset;
    }
}