<div class="container-fluid">
    <div *ngIf="authService.isLoggedIn()">
        <app-filter-bar></app-filter-bar>
        <app-main-content></app-main-content>
    </div>
</div>
<div *ngIf="!authService.isLoggedIn()" class="image-container">
    <img class="responsive" [ngClass]="{'blur-image' : isTablet}" [src]="'/assets/img/demeter_logo.png'" alt="Demeter">

</div>
<div *ngIf="!authService.isLoggedIn()" class="description my-4">
    <p class="project-desc" [ngClass]="{'blur-image' : isTablet}" style="text-align: justify;">
        <strong> DEMETER Enabler HUB (DEH)</strong> is a platform dedicated to end-users (providers and consumers) of
        <strong>DEMETER</strong> for exchanging information about resources (components, services, data sources,
        devices, platforms, etc.). More information you can find
        <a [routerLink]="['about']" style="cursor: pointer; color: #4ac2c1;">
            here</a>. If you want to find or offer a resource, please <a (click)="slideLogin()"
            style="cursor: pointer; color: #4ac2c1;">
            login</a> or <a href="https://acs.bse.h2020-demeter-cloud.eu:5443/sign_up/" target="_blank"
            style="cursor: pointer; color: #4ac2c1;">
            register</a>.
    </p>
</div>