<div class="row">
    <div class="col-12">
        <div class="input-group" id="adv-search">
            <input id="dTagFilter" type="text" data-role="tagsinput" placeholder="Search for snippets, click on caret" class="col-6">
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <div ngbDropdown>
                        <button type="button" id="dFilterClearAll" class="btn "><i class="fas fa-eraser" onclick="clearDFilter()"></i></button>
                        <button type="button" id="dFilterDropdown" class="btn btn-default" ngbDropdownToggle><span class="caret"></span></button>

                        <div id="d_entityfilter" class="dropdown-menu dropdown-menu-right" aria-labelledby="dFilterDropdown" ngbDropdownMenu>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="switchByFilter(dTagFilter)"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div> <br>