<div class="row">
    <div class="col-12">
        <div class="input-group" id="adv-search">
            <input id="dTagFilter" type="text" data-role="tagsinput" placeholder="Search for snippets, click on caret"
                class="col-6">
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <div class="dropdown dropdown-lg">
                        <button type="button" id="dFilterClearAll" class="btn">
                            <fa-icon [icon]="eraserIcon" onclick="clearDFilter()"></fa-icon>
                        </button>
                        <button type="button" id="dFilterDropdown" class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown"><span class="caret"></span>
                        </button>
                        <div id="d_entityfilter" class="dropdown-menu dropdown-menu-right dropdown-menu-filter"
                            role="menu">
                            <form>

                                <div class="form-group">
                                    <label for="title" class="kms-title-label">Title</label>
                                    <input type="text" class="form-control" id="title">
                                </div>
                                <div class="form-group">
                                    <label for="type" class="kms-title-label">Type</label>
                                    <select class="form-control" id="type">
                                        <option>Component</option>
                                        <option>Service</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="switchByFilter(dTagFilter)">
                        <fa-icon [icon]="searchIcon" aria-hidden="true"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> <br>