.custom-dymer-search {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    border-left: 0.25rem solid #4ac2c1 !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

}

.fixed-dropdown {
    transform: translate(-462px, 38px) !important;
}

.margins-on-elements-advanced {
    margin-top: 25px;
    display: none;
}

.search-fields-text {
    text-align: center;
}

.icon-position {
    margin-left: 0.3rem;
}

@media only screen and (max-width: 600px) {
    .fixed-dropdown {
        transform: translate(-1px, 38px) !important;
    }
}

#d_entityfilter {

    left: 15px !important;
}

@media only screen and (max-width: 600px) {
    #d_entityfilter {
        width: 267px !important;
        right: 0px !important;
        left: unset !important;
    }
}

@media only screen and (max-width: 600px) {
    .mobile-input {
        max-width: 100%;
    }
}

.display-position {
    display: inline-flex;
}

@media only screen and (max-width: 600px) {
    .display-position {
        display: inline;
    }
}

.tooltip1 {
    position: relative;
}

.tooltip1 span {
    visibility: hidden;
    max-width: 25em;
    background-color: #8e8b8b;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 10px;
    position: absolute;
    z-index: 9;
    /* top: -11.3em; */
    left: 100%;
    margin-left: 1em;
    opacity: 0;
    transition: opacity 1s;
    bottom: 0;
    width: max-content;
}

.tooltip1 span::after {
    content: "";
    position: absolute;
    /* top: 1.5em; */
    right: 100%;
    margin-top: 2.2em;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #8e8b8b transparent transparent;
    bottom: 8px;
}

@media only screen and (max-width: 1000px) {
    .tooltip1 span {
        visibility: hidden;
        max-width: 14em;
        background-color: #8e8b8b;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 10px 10px;
        position: absolute;
        z-index: 9;
        /* top: -11.3em; */
        left: 100%;
        margin-left: 1em;
        opacity: 0;
        transition: opacity 1s;
        bottom: 0;
        font-size: 13px;
        width: max-content;
    }
}

.tooltip1 input {
    display: none;
}

.tooltip1 input:checked+span {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .tooltip1 {
        position: absolute;
        display: inline;
        margin-top: 15px;
    }

    .mob-in {
        margin-top: 10px;
    }

    .tooltip1 span {
        visibility: hidden;
        max-width: 18.7em;
        background-color: #8e8b8b;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 10px 10px;
        position: absolute;
        z-index: 9;
        left: 100%;
        margin-left: 1em;
        opacity: 0;
        transition: opacity 1s;
        bottom: -10px;
        font-size: 12px;
        width: -webkit-max-content;
        width: max-content;
    }

    .tooltip1 span::after {
        content: "";
        position: absolute;
        right: 100%;
        margin-top: 2.2em;
        border-width: 5px;
        border-style: solid;
        border-color: transparent #8e8b8b transparent transparent;
        bottom: 15px;
    }
}



.tooltipL {
    position: relative;
}

.tooltipL span {
    visibility: hidden;
    max-width: 25em;
    background-color: #8e8b8b;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 10px;
    position: absolute;
    z-index: 9;
    /* top: -11.3em; */
    right: 100%;
    margin-left: 1em;
    opacity: 0;
    transition: opacity 1s;
    bottom: 0;
    width: max-content;
}

.tooltipL span::after {
    content: "";
    position: absolute;
    /* top: 1.5em; */
    left: 100%;
    margin-top: 2.2em;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #8e8b8b;
    bottom: 8px;
}

@media only screen and (max-width: 1000px) {
    .tooltipL span {
        visibility: hidden;
        max-width: 14em;
        background-color: #8e8b8b;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 10px 10px;
        position: absolute;
        z-index: 9;
        /* top: -11.3em; */
        right: 100%;
        margin-left: 1em;
        opacity: 0;
        transition: opacity 1s;
        bottom: 0;
        font-size: 13px;
        width: max-content;
    }
}

.tooltipL input {
    display: none;
}

.tooltipL input:checked+span {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .tooltipL {
        position: absolute;
        display: inline;
        margin-top: 15px;
    }



    .tooltipL span {
        visibility: hidden;
        max-width: 18.7em;
        background-color: #8e8b8b;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 10px 10px;
        position: absolute;
        z-index: 9;
        right: 100%;
        margin-left: 1em;
        opacity: 0;
        transition: opacity 1s;
        bottom: -10px;
        font-size: 12px;
        width: -webkit-max-content;
        width: max-content;
    }

    .tooltipL span::after {
        content: "";
        position: absolute;
        left: 100%;
        margin-top: 2.2em;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent #8e8b8b;
        bottom: 15px;
    }
}

#dymer_filtercontent .btn-group {
    display: inline-flex !important;
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    border-left: 1px solid lightgray;
}

#dFilterClearAll {
    background: white !important;
    border: 1px solid lightgray !important;
    margin-right: 16px;
    border-radius: unset;

}

.btn-100 {
    width: 100%;
}