<div id="wrapper">
    <span id="page-top"></span>
    <app-sidebar></app-sidebar>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-top-nav-bar (isTablet)="isTablet = $event"></app-top-nav-bar>

            <div class="container-fluid" *ngIf="authService.isLoggedIn()">
                <app-filter-bar></app-filter-bar>
                <app-main-content></app-main-content>
            </div>
            <div *ngIf="!authService.isLoggedIn()" class="image-container">
                <img class="responsive" [ngClass]="{'blur-image' : isTablet}" [src]="'/assets/img/demeter_logo.png'" alt="Demeter">
                
                </div>
                <div *ngIf="!authService.isLoggedIn()" class="description my-4">
                    <p class="project-desc" [ngClass]="{'blur-image' : isTablet}">
                        <strong>DEMETER Enabler HUB </strong>(DEH) is one of the most crucial components of the DEMETER
                        project; it
                        represents the digital space dedicated to end users of DEMETER where they will be able to create and
                        register their
                        own resources
                    </p>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<app-spinner></app-spinner>