app-footer {
  margin-top: auto;
}

div#content {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .responsive {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .responsive {
    width: 100%;
  }
}
