/* .login-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.2;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.txtb {
    display: block;
    box-sizing: border-box;
        background-color: #fff;
} */

.wrap {
  display: flex;
  overflow: hidden;
  position: absolute;
  width: 90%;
}

.container {
  justify-content: center;
}

input.form-control {
  flex: 1;
}

.error-msg {
  font-size: 80%;
  color: #dc3545;
  text-align: center;
  position: relative;
  bottom: 4px;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .row.col-11.mx-auto {
    justify-content: center;
  }

  .wrap {
    z-index: 999;
  }

  .mx-auto {
    padding-right: 0;
    padding-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .tablet-login-layout {
    flex-wrap: nowrap !important;
  }

  .row.col-11.mx-auto {
    flex-direction: column;
    align-items: center;
  }

  button.btn.btn-secondary {
    position: relative;
    left: 15px;
  }

  .wrap {
    z-index: 999;
  }

}
