<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" [ngClass]="{toggled: toggleClass}"
    id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/']">
        <div class="sidebar-brand-icon">
            <i class="fas fa-seedling"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Demeter</div>
    </a>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a class="nav-link" style="cursor: pointer;" (click)="cambia(jsonConfig)">
            <i class="fas fa-sitemap"></i>
            <span>List</span>
        </a>
    </li>

    <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <ng-template #popContent>
            {{getRoles()}}
    
            <p class="role" *ngFor="let role of roles; let idx = index;">
                {{role}}
            </p>
        </ng-template>
    
        <a class="nav-link" style="cursor: pointer;" [ngbPopover]="popContent" popoverTitle="Assigned user roles:"
            placement="right">
            <i class="fas fa-user-tag"></i>
            <span>Roles</span>
        </a>
    
    
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" *ngIf="authService.isLoggedIn()">

    <div class="text-center d-none d-md-inline" *ngIf="authService.isLoggedIn()">
        <button class="rounded-circle border-0" id="sidebarToggle" (click)=toggleSidebar()>
            <i [ngClass]="(toggleClass)?'fas fa-angle-right':'fas fa-angle-left'"></i>
        </button>
    </div>

    <div class="textwidget bottom-devider">
        <p><img class="size-full wp-image-1008 img-fluid mx-auto"
            [src]="'/assets/img/european-commission.png'" alt="europian-commision" width="120">
        </p>
        <p class="project-desc" [ngClass]="{'hide': toggleClass}">Demeter is a Horizon 2020 project (857202) supported by the
            European
            Union.</p>
    </div>

</ul>
<!-- End of Sidebar -->